form .item {
}

form .item label {
    display: block;
    padding-bottom: 3px;
    color: gray;
}

.name, .transcription {
    height: 58px;
}

.translation textarea {
    width: 100%;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}