.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    display: block;
    padding-bottom: 3px;
    color: gray;
}

.genders {
    display: flex;
    width: 120px;
    justify-content: space-between;
}

.translation textarea {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
